---
title: "Characterization Facilities"
layout: post
display: true
---
This page is still under construction!

<div class="container-fluid">

<div class="col-md-12 newsTalk">
    <h2>Synthesis and processing instruments</h2>
      <ul>
        {% for inst in site.data.inst_synProc %}

                    <li><h3>{{ inst.name }}</h3>
                    <!-- <h5>Incharge: {{ inst.incharge }}</h5> -->

                    {% if inst.link %}
                        <h5><a href="{{ inst.link }}">Details</a></h5>
                    {% endif %}</li>
        {% endfor %}
      </ul>


          <h2>Furnaces</h2>
            <ul>
              {% for fur in site.data.inst_fur %}
                          <li><h3>{{ fur.name }}</h3>
                          <!-- <h5>Incharge: {{  fur.incharge }}</h5> -->

                          {% if fur.link %}
                              <h5><a href="{{ fur.link }}">Details</a></h5>
                          {% endif %}</li>
              {% endfor %}
            </ul>


        <h2>Functional properties characterization</h2>


          <ul>
            {% for funchar in site.data.inst_funchar %}
                        <li><h3>{{ funchar.name }}</h3>
                        <!-- <h5>Incharge: {{ funchar.incharge }}</h5> -->

                        {% if funchar.link %}
                            <h5><a href="{{ funchar.link }}">Details</a></h5>
                        {% endif %}</li>
            {% endfor %}
          </ul>

<h2>Microstructure and mechanical property analysis</h2>


  <ul>
    {% for instmech in site.data.inst_mechchar %}
                <li><h3>{{ instmech.name }}</h3>
                <!-- <h5>Incharge: {{ instmech.incharge }}</h5> -->

                {% if instmech.link %}
                    <h5><a href="{{ instmech.link }}">Details</a></h5>
                {% endif %}</li>
    {% endfor %}
  </ul>


</div>
</div>
