---
title: "Alumni"
layout: post
display: true
---

<h2>Doctoral students</h2>

  <h2>2020</h2>
  <ol>
    {% for alumni in site.data.alumni_2020 %}

                <h4><li>{{ alumni.name }}</h4>
                <h5>Roll No.:{{ alumni.rollno }}</h5>
                <h5>Advisor: {{ alumni.facAdvi}}</h5>
                <h5>Topic: {{ alumni.topic }}</h5>
                <h5>Year of Graduation: {{ alumni.year }}</h5>

    {% endfor %}
  </ol>

  <h2>2019</h2>
  <ol>
    {% for alumni in site.data.alumni_2019 %}

                <h4><li>{{ alumni.name }}</h4>
                <h5>Roll No.:{{ alumni.rollno }}</h5>
                <h5>Advisor: {{ alumni.facAdvi}}</h5>
                <h5>Topic: {{ alumni.topic }}</h5>
                <h5>Year of Graduation: {{ alumni.year }}</h5>

    {% endfor %}
  </ol>

  <h2>2018</h2>
  <ol>
    {% for alumni in site.data.alumni_2018 %}

                <h4><li>{{ alumni.name }}</h4>
                <h5>Roll No.:{{ alumni.rollno }}</h5>
                <h5>Advisor: {{ alumni.facAdvi}}</h5>
                <h5>Topic: {{ alumni.topic }}</h5>
                <h5>Year of Graduation: {{ alumni.year }}</h5>

    {% endfor %}
  </ol>

  <h2>2017</h2>
  <ol>
    {% for alumni in site.data.alumni_2017 %}

                <h4><li>{{ alumni.name }}</h4>
                <h5>Roll No.:{{ alumni.rollno }}</h5>
                <h5>Advisor: {{ alumni.facAdvi}}</h5>
                <h5>Topic: {{ alumni.topic }}</h5>
                <h5>Year of Graduation: {{ alumni.year }}</h5>

    {% endfor %}
  </ol>

  <h2>2016</h2>
  <ol>
    {% for alumni in site.data.alumni_2016 %}

                <h4><li>{{ alumni.name }}</h4>
                <h5>Roll No.:{{ alumni.rollno }}</h5>
                <h5>Advisor: {{ alumni.facAdvi}}</h5>
                <h5>Topic: {{ alumni.topic }}</h5>
                <h5>Year of Graduation: {{ alumni.year }}</h5>

    {% endfor %}
  </ol>

  <h2>2015</h2>
  <ol>
    {% for alumni in site.data.alumni_2015 %}

                <h4><li>{{ alumni.name }}</h4>
                <h5>Roll No.:{{ alumni.rollno }}</h5>
                <h5>Advisor: {{ alumni.facAdvi}}</h5>
                <h5>Topic: {{ alumni.topic }}</h5>
                <h5>Year of Graduation: {{ alumni.year }}</h5>

    {% endfor %}
  </ol>

  <h2>Masters students</h2>

<ul>
<li> <h3> <a href="/assets/docs/mtech_students/MTech_2018.pdf"> 2018 - 2020 </a> </h3>
<li> <h3> <a href="/assets/docs/mtech_students/MTech_2017.pdf"> 2017 - 2019 </a> </h3>
<li> <h3> <a href="/assets/docs/mtech_students/MTech_2016.pdf"> 2016 - 2018 </a> </h3>
<li> <h3> <a href="/assets/docs/mtech_students/MTech_2015.pdf"> 2015 - 2017 </a> </h3>
<li> <h3> <a href="/assets/docs/mtech_students/MTech_2014.pdf"> 2014 - 2016 </a> </h3>
<li> <h3> <a href="/assets/docs/mtech_students/MTech_2013.pdf"> 2013 - 2015 </a> </h3>
<li> <h3> <a href="/assets/docs/mtech_students/MTech_2012.pdf"> 2012 - 2014 </a> </h3>
<li> <h3> <a href="/assets/docs/mtech_students/MTech_2011.pdf"> 2011 - 2013 </a> </h3>
<li> <h3> <a href="/assets/docs/mtech_students/MTech_2010.pdf"> 2010 - 2012 </a> </h3>

  </ul>

  <h2>Bachelor students</h2>

<ul>
  <li> <h3> <a href="/assets/docs/btech_students/BTech_2016.pdf"> 2016 - 2020 </a> </h3>
  <li> <h3> <a href="/assets/docs/btech_students/BTech_2015.pdf"> 2015 - 2019 </a> </h3>
  <li> <h3> <a href="/assets/docs/btech_students/BTech_2014.pdf"> 2014 - 2018 </a> </h3>
</ul>
